html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}  
body {
  background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png);
  color:  #444349;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2rem; 
}
h1, h2 {
  font-size: 2.8rem;
  font-family: 'Great Vibes', cursive;
}
h3{
  font-family: 'Libre Baskerville', serif;
  font-size: 1.3rem;
}
img {
  margin-top: 1.2rem;
}
/* =============================

  Header design

=============================*/
#container-1 {
  background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg)70% center/cover no-repeat; 
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  background: hsla(100,0%,0%,.6);
  color: hsla(0,0%,100%,.9);
  width: 100vw;
  padding: .55rem 0rem;
}
@media (min-width: 768px) {
  .header {
    display: flex;
  flex-direction: column;
  background: hsla(100,0%,0%,.6);
  color: hsla(0,0%,100%,.9);
  width: 40%;
  margin: 0 auto;
  padding: 1rem;
    
  }  
}
.getting-married h3 {
  letter-spacing: .15rem;
  
}
.getting-married::after {
  display: block;
  content: "";
  background-color: #fff;
  vertical-align: bottom;
  height: 0.5px;
  width: 12.5rem;
  margin: 0.5rem auto;
}
.name {
  padding-top: .55rem;
}
.name h1 {
  color: #d2ba87;
  font-size: 3.8rem; 
}
.date {
  padding-top: .55rem;
}
.date span {
  letter-spacing: .12rem;
  font-size: 1.3rem;  
}
.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}
/* =============================

  Main

  Locations design

=============================*//
#container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.locations {
  text-align: center;
  margin-top: 1.2rem;
}
.locations-picture {
  margin-top: 1.2rem;
}
.locations-picture h3 {
  font-weight: 700;}
.picture-text {
  margin-top: 1.2rem;
}
.picture-text::after {
  display: block;
  content: "";
  background-color: #000000;
  vertical-align: bottom;
  height: 1.5px;
  width: 6rem;
  margin: 1.2rem auto;
}
@media (min-width: 768px){
  .locations-all {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;  
    margin-bottom: 1.2rem; 
  }
  .picture-text::after {
    display: none;
  }
}
/* =============================

  Program design

=============================*/
.program {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87 ;
  font-family: 'Muli', sans-serif; 
  padding: 1.2rem ;
  text-align: center;
}
.program h2{
  padding-bottom: 1.2rem;
}
.table  {
  text-align: left;
}
@media (min-width: 768px){
  .table  {
    text-align: center;
  }
}
.table p {
  font-style: italic;
  padding-bottom: 1.2rem;
}
/* =============================

  Gifts design

=============================*/
.gifts {
  text-align: center;
  padding: 1.2rem;
}
.gifts p {
  padding: 1.2rem;
}
/* =============================

 Questions/Answers design

=============================*/
.questions {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87 ;
  padding: 1.2rem;
  text-align: left;
  font-family: 'Muli', sans-serif; 
}
.questions h2{
  text-align: center;

}
.question-group h3 {
  margin: 1.2rem 0;
  text-align: center;
}
.question-group::after {
  content: "";
  display: block;
  height: .15rem;
  width: 12.5rem;
  margin: 1.350rem auto;
  background-color: #d2ba87;
}
@media (min-width: 768px){
  .questions-all {
   display: flex;
   justify-content: center;
   text-align: left;
   flex-direction: row;
  }
  .questions h2{
   text-align: center;
  }
  .question-group h3 {
    text-align: left;
   
  }
  .question-group::after {
    display: none;
   
  }
 }
.quest {
  font-weight: 700;
}
.answer {
  margin: 1.2rem 0;
}
a {
  text-decoration: none;
  color: #bd806e;
}
/* =============================

 Contact design

=============================*/
.contact {
  
  text-align: center;
  padding: 1.2rem;
}
.contact h2 {
  margin: 1.2rem 0;
}
.contact p {
  margin: 1.rem;
}
/* =============================

 Footer design

=============================*/
#and {
  background: hsla(100,0%,0%,.6);
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  font-family: 'Muli', sans-serif; 
  text-align: center;
}
