html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}  
body  {
  background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png);
  color:  #444349;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.175rem; 
  letter-spacing: .025rem;
}
h1  {
  color: #d2ba87;
  font-size: 4rem;
  font-family: 'Great Vibes', cursive;
}
@media (min-width: 768px){
  h1  {
    font-size: 7rem;
  }
}
h2  {
  padding-bottom: 1.750rem;
  font-size: 3.2rem;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}
h3  {
  font-size: 1.525rem;
  letter-spacing: .15rem;
}

img {
  width: 7.5rem;
  height: 7.5rem;
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  img {
    margin-top: 2.5rem;
  }
}
a {
  text-decoration: none;
  color: #bd806e;
}
a:hover {
  color: #eda087;
  transition: color .2s ease-in-out;
}
p{
  line-height: 1.5rem;
  font-family: 'Muli', sans-serif;
}
/* =============================

  Header design

=============================*/
#container-1 {
  background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg)70% center/cover no-repeat; 
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  background: hsla(100,0%,0%,.6);
  color: hsla(0,0%,100%,.9);
  width: 100vw;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .header {
  display: flex;
  flex-direction: column;
  background: hsla(100,0%,0%,.6);
  color: hsla(0,0%,100%,.9);
  width: 52%;
  padding: 1rem 0;
  margin: 0 auto;
  } 
.name{
  padding: .450rem 0;
} 
}
.getting-married::after {
  display: block;
  content: "";
  background-color: #fff;
  vertical-align: bottom;
  height: 0.5px;
  width: 14.5rem;
  margin: 0.5rem auto;
}
.date span {
  letter-spacing: .12rem;
  font-size: 1.3rem;  
}
.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}
/* =============================

  Main


=============================*/
#container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.locations,
.program,
.gifts,
.questions,
.contact {
  text-align: center;
  padding: 2rem 1rem;
}
/* =============================

  Locations design

=============================*/

.locations-picture h3 {
  font-weight: 700;
}
.picture-text {
  margin-top: 1.2rem;
}
.picture-text::after {
  display: block;
  content: "";
  background-color: #000000;
  vertical-align: bottom;
  height: .225rem;
  width: 8rem;
  margin: 1.2rem auto;
}
@media (min-width: 768px){
  .locations-all {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;  
    margin-bottom: 1.2rem; 
  }
  .picture-text::after {
    display: none;
  }
}
/* =============================

  Program design

=============================*/
.program {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87 ;
  font-family: 'Muli', sans-serif; 
  text-align: left;
}
.program p {
  font-style: italic;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px){
  .program-list {
    width: 25vw;
     margin: 0 auto; 
  }
}
/* =============================

  Gifts design

=============================*/
.gifts p {
  padding: 1rem;
}
/* =============================

 Questions/Answers design

=============================*/
.questions {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87 ;
  text-align: center;
  
}
.questions p {
  font-family: 'Muli', sans-serif;
  text-align: left;
  
}
.questions-all{
  margin-top: 1rem;
}
.question-group h3 {
  padding-bottom: 1rem;
  
}
.question-group::after {
  content: "";
  display: block;
  height: .225rem;
  width: 12.5rem;
  margin: .750rem auto;
  background-color: #d2ba87;
}
@media (min-width: 768px){
  .questions-all {
   display: flex;
   justify-content: center;
   text-align: left;
   flex-direction: row;
  }
  .question-group {
    width: 30%;
    padding: 2rem 1rem; 
  }
  .question-group h3 {
    text-align: left;
    
  }
  .question-group::after {
    display: none;
  }
 }
.quest {
  font-weight: 700;
}
.answer {
  margin: 1rem 0 1.5rem 0;
}
/* =============================

 Contact design

=============================*/
.contact p {
  margin-bottom: 2rem;
}
/* =============================

 Footer design

=============================*/
#and {
  background: hsla(100,0%,0%,.6);
  padding: 2rem 1rem;
  color: #fff;
  font-size: 1rem;
  font-family: 'Muli', sans-serif; 
  text-align: center;
}
